:root{
    --braun: #c39065 ;
    --lgrau: #cccccc ;
    --dgrau: #707070 ;
}

/* definition des Schriftstils (muss in einem Verzeichnis auf der Homepage sein(hier unterverzeichnis /fonts) und nicht ein Link auf irgendeine andere Homepage
das hat DSGVO rechtliche Gründe das die Schriftart auf einen EU Server liegen muss!! */
@font-face {
    font-family: joe;
    src: url(../fonts/josefin-sans-v20-latin-300.woff2);
    font-weight: lighter;
}
@font-face {
    font-family: joe;
    src: url(../fonts/josefin-sans-v20-latin-regular.woff2);
    font-weight: normal;
}
@font-face {
    font-family: joe;
    src: url(../fonts/josefin-sans-v20-latin-700.woff2);
    font-weight: bold;
}
html, body{
    margin: 0px;
    padding: 0px;
}

html *{
    box-sizing: border-box;
}

body{
    font-family: joe;
}

img{
    max-width: 100%;
    height: auto;
}







#kopf{
    display: flex;
    /* justify-content:space-between ; */
    
}

/* flex:1 gibt allen elementen unter id kopf den platzbedarf 1 da es 2 Elemente gibt a und nav bekommt jedes 1 --> 2 =1/2 oder 50% */
#kopf > * {
   flex: 1;
}

#kopf ul{
    display: none;
    list-style-type: none;
    
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
    

    text-align: center;
    background-color: var(--braun);
}

#kopf  ul.sichtbar{
    display: block;
}

#kopf ul li{
    padding: 0.55em;

}

#kopf ul li a{
    
    text-decoration: none;
    color: white;
}

#kopf img{
    margin: 20px;
}

#kopf nav  {
 text-align: right;   
}


/* #img_logo{
    width: 170px;
} */

#div_mainimg{
    /* position: absolute; */
    z-index: -1;
    
}

#quality{
    position: relative; 
    display: block;
    margin-left: auto;
    margin-right: 20px;
    top: -75px;

    background-image: url(../img/qualitaetssiegel-goldene-eichel_300.png) ;
    background-repeat: no-repeat;
    background-size: contain; /* Bild wird auf die grösse des Elements (75x75) angepasst */
    width: 100px;
    height: 100px;
}

h1{
    position: relative;
    text-align: center;
    font-weight: lighter;
   
}

#products{
    /* gap:30px; ist der Abstand zwischen den einzelnen elementen (oben/unten) */
    text-align: center;
    /* display: flex;
    flex-flow: column; */
}

#bestellung {
    text-align: center;
}

.button{
    /* inline-block: ist wie ein blockelement, allerdings fliest es mit dem text mit */
    display: inline-block;
    
    background-color: white;
    color: var(--lgrau);
    border: 2px solid var(--dgrau);
    padding: 0.5em;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#nav_footer{
    background-color: var(--braun);
    color: white;
    text-align: center;
    /* overflow: hidden; wird verwendet um "versteckte" margin zu eliminieren wie zum beispiel beim p-tag
    wenn der fehlt, dann ist zwischen dem braunen nav-tag und endline-tag ein weißer abstand  */
    overflow: hidden;
}

#nav_footer a{
    
    color: white;
    text-decoration: none;
    line-height: 2em
}

#nav_footer ul{
    /* margin: 0; */
    list-style-type: none;
    padding: 2em 0em;
    overflow: hidden;
}

address{
    display: none;
}

#endline{
    padding: 15px;
    margin: 200;
    background-color: var(--dgrau);
    color: white;
    text-align: center;
    overflow: hidden;
}

@media screen and (min-width: 576px) {

    #kopf{
        position: static;
        top: 0;
    }

    #img_logo{
        max-width: 200px;
        
    }

    #kopf a {
        background-color: white;
        text-align: center;
    }
    
    #nav_oben {
        display: flex;
        justify-content: space-between;
        background-color: white;
        white-space: nowrap ;
        

    }

    #nav_oben img{
        display: none;
    }

    /* notwendig sonst ist das menu als block (untereinander) dargestellt sollte vorher die Klasse sichtbar aktiv gewesen sein*/
    #kopf ul.sichtbar{
        display: flex;
    }

    #nav_oben ul{
        display: flex;
        justify-content: center;
        position: relative;
        background-color: white;
        color: var(--dgrau);
        gap: 1em;
        white-space: nowrap;
        top: auto;
        right: auto;
        font-size: medium;
    }



    #nav_oben ul li a{
        color: var(--dgrau);
    }

    #img_main{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 47vh;
        object-fit: cover;
        object-position: center;
        z-index: -10;
    }
    
    .platzhalter{
        height: 300px;
    }

    #products {
        position: relative;
        
        display: flex;
        
        gap: 1em;
        margin: 10px;  
    }

    #products img {
        /* flex: 1; */
        /* max-width: calc(25% - 40px); */
    }


    #nav_footer {
        display: flex;
        justify-content: space-between;

    }

    #nav_footer address {
        display: block;
        font-style: normal;
        padding: 2em 0em;
        line-height: 2em;
        padding-left: 30px;
        text-align: left;
        margin: 1.5em 0em;


    }

    #nav_footer ul {
        text-align: right;
        padding-right: 30px;

    }

    .inner_wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

