#house {
    background-color: bisque;
    width: 25vw;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 5vw;
}

#elevator {
    position: absolute;
    bottom: 0;
    left: 25%;

    width: 27%;
    height: 27%;
    background: black;
    transition: all 1.5s ease-in-out;
}

.floor-2 {
    bottom: 66% !important;
}

.floor-1 {
    bottom: 33% !important;
}

.floor-0 {
    bottom: 0% !important;
}

.floor-3 {
    bottom: 100% !important;
}

