RewriteEngine On

# Kommentare beginnen mit Route

# RewriteBase für Obinet page
# RewriteBase /Wifi-JWE-22/Projekt-Speisekarte/


# RewriteBase für Locale Anwendung
RewriteBase /Wifi/Wifi-JWE-22/Projekt-Speisekarte/

RewriteRule ^\/?api\/? apiv2.php