:root{
    --dred: #E74149;
    --lgrey: #DDDDDD;
    --dgrey: #969696;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

html * {
    box-sizing: border-box;
  } 


 header.top { /*display flex setzt die Elemente von untereinander auf nebeneinander */
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

    /* background-color: aqua;  nur zur Anschauung von displayflex oder:*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
   

}
#logo{
    margin: 10px;
}
/*  bewirkt das um den einzelnen Flexelementen ein schwarzer rahmen ist
header.top > * {
    background: greenyellow;
    border: 3px solid black;
}*/

#hero-image {
    background: url(../bilder/blog-banner.png) no-repeat center top / cover;
    height: 500px;
    padding: 34px;
    position: relative;

    display: flex;
    /* statt nebeneinander soll es untereinander angeordnet werden */
    flex-direction: column;
    /* vertikal in der Mitte Plazieren */
    justify-content: center;
}

#hero-image::before{
    /* hier wird eine graue fläche über den hero image drübergelegt, damit der weiße text darunter besser lesbar ist */
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;


}

#main_menu{
    margin: 10px;
}

#main_menu li{
    list-style-type: none;
}

#main_menu  ul{
    /* hauptmenu ausblenden */
    display: none;
    padding-left: 0px;   
}

#main_menu ul:target{
    display: block;
} 

h1{ 
    font-weight: 900;
    color: white;
    
    margin-right: 34px;
    /* damit es vor der #hero-image::before Fläche ist muss die position relativ sein und der Z-Index höher */
    position: relative;
    z-index: 1;

}

h2{
    font-size: 24px;
    font-style: bold;
    margin-left: 37px;

}


footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
} 

#b_entdecken{
    /* Schriftstyle ist bei buttons separat zu definieren */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dred);
    color: white;
    border-radius: 12px;

    border: none;
    padding: 20px 37px;
    font-weight: 600;
    font-size: 16px;

    position: relative;
    z-index: 1;   
}

#b_entdecken:hover{
    background-color: black;
}

.endline{
    font-size: 12px;
    text-align: center;
    color: var(--dgrey);

}

footer.the-only-one{
    background-color: var(--lgrey);
    padding-bottom: 15px;
}

nav#footer-nav{
    display: flex;
    justify-content: space-around;
}

#footer-nav li{
    list-style-type: "\25b8";
    padding-left: 0em;
}

/* kann auch mit li::before angesprochen werden */
#footer-nav ul li::marker {
    color: red;
    padding-right: 15px;
}

#img_bottom{
    display: none;
    filter: grayscale();
    
    
}

/* maximale breite festlegen und inhalte Zentrieren */
.inner_wrapper{
    max-width: 1024px;

    /* zentriert ein Block Element
     */
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 15px;
}

@media screen and ( min-width: 768px) {
    .the-only-one{
        display: flex;
        justify-content: space-between;

        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #img_bottom{
        display: flex;
        width: 177px;
        margin-left: auto;

        

    }
    
    #div_bottom {
        margin-top: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: space-between ;
        flex-direction: column;
        float: right;

    }
    
   
    
}